#gameTableBlock
  table#gameTable
    thead
      th Period
      th Player
      th Demand
      th Order
      th Ration
      th Sales
      th Lost Sales
      th Surplus Inventory
      th Profit
      th Cumulative Profit
    tbody