include layout.pug

block content
	script(src='/javascripts/instructorGamePage.js')
	link(rel='stylesheet', href='/stylesheets/instructorGamePage.css')
	h1= title

	// SETUP GAME
	#formSetupGame
		form
			|Number of Groups: 
			input#inputNumberOfGroups(type="text", placeholder="Number of Groups")
			br
			|Number of Rounds: 
			input#inputNumberOfRounds(type="text", placeholder="Number of Rounds")
			br
			|Allocation: 
			select#selectAllocationRule
				option(value="Proportion") Proportion
				option(value="Rule#2") Rule#2
			br
			button#btnStart Start Game
			button#btnReset Reset Game
	// / #formSetupGame

	// GAME DATA
	h2 Current Game
	include commonGameTable.pug
	//#gameTableBlock
	//	table#gameTable
	//		thead
	//			th Period
	//			th Player
	//			th Demand
	//			th Order
	//			th Ration
	//			th Sales
	//			th Lost Sales
	//			th Surplus Inventory
	//			th Profit
	//			th Cumulative Profit
	//		tbody
	// / GAME DATA

	button#btnNextRnd Next Round
	button#btnCalc Calculate