include layout.pug

block content
	script(src='/javascripts/instructorGamePage.js')
	link(rel='stylesheet', href='/stylesheets/instructorGamePage.css')
	h1= title

	// SETUP GAME
	#formSetupGame
		form
			|Number of Groups: 
			input#inputNumberOfGroups(type="number", placeholder="Number of Groups")
			br
			|Number of Rounds: 
			input#inputNumberOfRounds(type="number", placeholder="Number of Rounds")
			br
			|Player E-mails (To send login credentials, seperated by ';'): 
			input#inputPlayerEmails(type="text", placeholder="Player E-mails", size="50")
			br
			|Allocation: 
			select#selectAllocationRule
				option(value="Proportion") Proportion
				option(value="Rule#2") Rule#2
			| Supply per player: 
			input#inputSupplyPerPlayer(type="number")
			| Sale Price: 
			input#inputSalePrice(type="number")
			| Cost: 
			input#inputCost(type="number")
			br
			button#btnStart Start Game
			button#btnRestartStart Restart Game
			button#btnEnd End Game
			button#btnReset Reset Game
			button#btnLogout(style='margin-left: 20px;') Log Out
	// / #formSetupGame

	// GAME DATA
	h2 Current Game
	include commonGameTable.pug

	button#btnNextRnd Next Round
	button#btnCalc Calculate

	// PREVIOUS GAME
	h2 Previous Games
	button#btnShowPrev Show Game List
	
	//#prevGameList	
	table#prevGameListTable
		thead
			th Time
			th Number Player
			th Number Round
			th Action
		tbody