include layout.pug

block content
	script(src='/javascripts/instructorGamePage.js')
	link(rel='stylesheet', href='/stylesheets/instructorGamePage.css')
	h1= title

	// SETUP GAME
	#formSetupGame
		form
			|Number of Groups: 
			input#inputNumberOfGroups(type="text", placeholder="Number of Groups")
			br
			|Number of Rounds: 
			input#inputNumberOfRounds(type="text", placeholder="Number of Rounds")
			br
			|Allocation: 
			select#selectAllocationRule
				option(value="Proportion") Proportion
				option(value="Rule#2") Rule#2
			br
			button#btnStart Start Game
			button#btnEnd End Game
			button#btnReset Reset Game
	// / #formSetupGame

	// GAME DATA
	h2 Current Game
	include commonGameTable.pug

	button#btnNextRnd Next Round
	button#btnCalc Calculate

	// PREVIOUS GAME
	h2 Previous Games
	button#btnShowPrev Show Game List
	#prevGameList
	table#prevGameListTable
		thead
			th Time
			th Number Player
			th Number Round
			th Action
		tbody