include layout.pug

block content
	script(src='/javascripts/playerGamePage.js')
	link(rel='stylesheet', href='/stylesheets/instructorGamePage.css')

	h1= title
	button#logout Logout

	// GAME DATA
	h2 Current Game

	include commonGameTable.pug
	input#btnSubmitOrd(type='submit')
	p#pErr
	
	// Include game table from commonGameTable.pug
	//form#formGameTable
	//	#gameTableBlock
	//		table
	//			thead
	//				th Round
	//				th Supply
	//				th Cost
	//				th Order
	//			tbody
		// / GAME DATA
	//	input#submitOrd(type='submit')
		//button#btnSendOrder Send Order