include layout.pug

block content
	script(src='/javascripts/playerGamePage.js')
	link(rel='stylesheet', href='/stylesheets/instructorGamePage.css')

	h1= title
	button#logout Logout

	// GAME DATA
	h2 Current Game

	include commonGameTable.pug
	input#btnSubmitOrd(type='submit')
	p#pErr

	// PREVIOUS GAME
	h2 Previous Games
	button#btnShowPrev Show Game List

	//#prevGameList	
	table#prevGameListTable
		thead
			th Time
			th Number Player
			th Number Round
			th Action
		tbody